#message pre {
    color: gray;
    font-size: 1rem;
}

#message pre .key {
    color: magenta;
}

#message pre .number {
    color: green;
}

#message pre .string {
    color: darkmagenta;
}


@media (prefers-color-scheme: dark) {
  :root {
    .plot-container {
        filter: invert(75%) hue-rotate(180deg);
        background-color: white;
    }
    /*
    .main-svg {
        background: rgba(0, 0, 0, 0);
    }
    */
  }
}